Repository rama-kairi/react-starter-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint "src/**/*.css" --fix, stylelint "src/**/*.scss" --fix --syntax=scss, prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src, imagemin-lint-staged

feat(precommit): pre-commit hook updated 🪝
  .husky/pre-commit
Due: prettier --ignore-unknown --write .

feat(yarn): yarn added as package manager
  pnpm-lock.yaml
  yarn.lock
Due: prettier --ignore-unknown --write .

feat(cypress): cypress issue fixed
  tsconfig.json
Due: prettier --ignore-unknown --write .

feat(script): added serve script for ci/cd
  package.json
Due: prettier --ignore-unknown --write .

feat(script): cypress removed from ci/cd
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write .

feat(script): pre-push hook updated
  .husky/pre-push
Due: prettier --ignore-unknown --write .

feat(script): pre-push hook updated-1
  .husky/pre-push
Due: prettier --ignore-unknown --write .

feat(cicd): dependabot.yml added
  .github/workflows/dependabot.yml
Due: prettier --ignore-unknown --write .

feat(cicd): release yml updated
  .eslintignore
  .github/workflows/release.yml
  .releaserc.json
  release.config.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

feat(cicd): release yml updated -1
  release.config.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

feat(cicd): release yml updated -2
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write .

feat(cicd): release yml updated final
  .github/workflows/release.yml
  release.config.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

feat(cicd): release yml updated final-1
  package.json
  release.config.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

feat(hook): pre-push hook updated
  .husky/pre-push
Due: prettier --ignore-unknown --write .

Notes added by 'git notes add'
  473b14a690971c3485c4a6b482a5f5dd4aabc520
Due: prettier --ignore-unknown --write .

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --ignore-unknown --write .

fix(cleanup): removed unnecessary dependbot.yml file
  .github/workflows/dependabot.yml
Due: prettier --ignore-unknown --write .

Notes added by 'git notes add'
  fd5761ea7a0b755c42fc7c9f9cbc6b9a18d10624
Due: prettier --ignore-unknown --write .

docs(docs): upadted LICENCE and Project Readme
  LICENSE.md
  README.md
Due: prettier --ignore-unknown --write .

docs(docs): upadted LICENCE and Project Readme
  .github/dependabot.yml
Due: prettier --ignore-unknown --write .

fix(dep): dependbot yml updated
  .github/dependabot.yml
Due: prettier --ignore-unknown --write .

Notes added by 'git notes add'
  c0ca177c0f827fd9caa897a1baadcbc0125ecc5a
Due: prettier --ignore-unknown --write .

fix(docs): readme updated
  README.md
Due: prettier --ignore-unknown --write .

feat(mantine): mantine package added
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: stylelint "src/**/*.css" --fix, prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

Notes added by 'git notes add'
  40cef87e31d5fcb7b9a4b1d1172e951240d3f46e
Due: prettier --ignore-unknown --write .

fix(hook): pre-push hook updated
  .husky/pre-push
Due: prettier --ignore-unknown --write .

Notes added by 'git notes add'
  8d89fb7c957b7bf6307f666cfa5f1844862e91e9
Due: prettier --ignore-unknown --write .

feat(fs): folder stracture added
  src/assets/font/.keep
  src/assets/images/.keep
  src/components/form/.keep
  src/components/layout/.keep
  src/components/ui/.keep
  src/config/config.ts
  src/data/a.ts
  src/hooks/useFetch.ts
  src/pages/forgot-password/index.tsx
  src/pages/login/index.tsx
  src/theme.ts
  src/utils/slugify.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

Notes added by 'git notes add'
  9c9274153595953816d151fc2b761a0a7710c79b
Due: prettier --ignore-unknown --write .

feat(fs): folder stracture docs upadted
  src/assets/README.md
  src/components/README.md
  src/config/README.md
  src/data/README.md
  src/hooks/README.md
  src/pages/README.md
  src/state/README.md
  src/utils/README.md
Due: prettier --ignore-unknown --write .

Notes added by 'git notes add'
  9a2e077e4cc97b3cea8b0e56ea367a1f7e07861c
Due: prettier --ignore-unknown --write .

feat(types): types folder added
  .github/dependabot.yml
  src/types/index.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

Notes added by 'git notes add'
  4e0c71f5d22ed471eddb3fecffc2926503521ce7
Due: prettier --ignore-unknown --write .

feat(abs): absolute import added
  src/App.tsx
  src/components/form/textInput.tsx
  src/pages/ForgotPassword/index.tsx
  src/pages/forgot-password/index.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

fix(abs): absolute import jest issues resolved
  jest.config.ts
Due: prettier --ignore-unknown --write ., eslint --fix --ext .ts,.tsx src

Path conditions:
  stylelint "src/**/*.css" --fix: any of: *.css
  stylelint "src/**/*.scss" --fix --syntax=scss: any of: *.scss
  prettier --ignore-unknown --write .: any of: *
  eslint --fix --ext .ts,.tsx src: any of: *.{ts,tsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
